.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 10px 30px;
}

.author, p {
  color: gray;
}

.author {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.title {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
